// fonts
$cambria        : "Cambria";

// colors

$blue-darken    : #0D446F;
$white          : #FFFFFF;
$black          : #232528;

// responsive

$mobile         : 480px;
$tablet         : 736px;
$netbook        : 980px;
$notebook       : 1280px;
$large          : 1690px;