// fonts
$cambria        : "Cambria";

// colors

$blue-darken    : #0d446f;
$white          : #FFFFFF;
$white-a        : rgba(241, 246, 250, 0.925);
$black          : #232528;
$light-grey     : #D1D1D1;
$light-grey-a   : rgba(209, 209, 209, 0.849);
$black-opacity  : rgba(35, 37, 40, 0.87);
$light-blue     : #9AB4CE;
$white-blue     : #F1F6FA;
$grey           : #C2C2C2;
$grey-darken    : #7E7E7E;

// responsive

$mobile         : 480px;
$tablet         : 768px;
$netbook        : 1024px;
$notebook       : 1440px;
$large          : 1920px;