@font-face {
    font-family: 'Cambria';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/cambria.ttf') format('truetype');
}
@font-face {
    font-family: 'Cambria';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../fonts/cambriab.ttf') format('truetype');
}

@font-face {
    font-family: 'Cambria';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/cambriai.ttf') format('truetype');
}

html, body{
	min-height: 100%;
    height: 100%;
    font-family: $cambria, 'sans-serif';
}

.navigation-fixed{
    position: fixed;
    background-color: transparent;
    z-index: 2;
    top: 0;
    overflow: hidden;
    width: 100%;
    transition: all 0.4s;
    @media screen and (max-width: $netbook){
        display: none;
    }
}

.navigation {
    height: auto;
    width: auto;
    font-family: $cambria, 'sans-serif';
    font-size: 14px;
    margin: 64px 70px;
    display: flex;
    @media screen and (max-width: $notebook){
        font-size: 13px;
        margin: 40px 40px;
    }
    @media screen and (max-width: $notebook-s){
        margin: 40px 10px;
    }
}

.navigation-left{
    margin-top: 60px;
    margin-bottom: auto;
    margin-left: 40px;
    margin-right: 65px;
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: $notebook){
        margin-top: auto;
        margin-bottom: auto;
    }
}

.navigation-right{
    margin-top: 60px;
    margin-bottom: auto;
    margin-right: 40px;
    @media screen and (max-width: $notebook){
        margin-top: auto;
        margin-bottom: auto;
    }
}

.navigation-items {
    margin-left: 20px;
    margin-right: 20px;
    color: $white;
}

.home-ico{
    width: 17px;
    margin-top: -5px;
}

.home-ico-black{
    width: 17px;
    margin-top: -5px;
}

.home-ico-hide{
    display: none;
}

.home-ico-display{
    display: block;
}

.navigation > .icon {
    margin-left: auto;
    margin-right: auto;
    width: 192.5px;
    height: 192.5px;
    @media screen and (max-width: $notebook){
        width: 120px;
        height: 120px;
    }
    @media screen and (max-width: $notebook-s){
        margin-left: 6%;
    }
}

.nav-ico-img{
    position: absolute;
    align-items: center;
    width: 192.5px;
    left: 45.5%;
    @media screen and (max-width: $notebook){
        width: 120px;
        left: 46.2%;
    }
    @media screen and (max-width: $notebook-s){
        left: 46%;
    }
}

.header-img{
    background-image: url("../../img/home_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}

.header-title{
    background-color: $black-opacity;
    height: auto;
    padding-top: 17%;
    padding-bottom: 395px;
    @media screen and (max-width: $notebook){
        padding-bottom: 20%;
    }
}

.title{
    margin-right: auto;
    margin-left: auto;
    color: $white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 173.5px;
    h1{
        font-size: 70px;
    }
    h3{
        font-size: 60px;
        font-weight: bolder;
    }
    @media screen and (max-width: $notebook){
        margin-top: 50px;
        h1{
            font-size: 40px;
        }
        h3{
            font-size: 40px;
        }
    }
    @media screen and (max-width: $mobile){
        h1{
            line-height: 50px;
        }
    }
}

.sub-title-bg{
    margin-right: auto;
    margin-left: auto;
    color: $white;
    background-color: $blue-darken;
    text-align: center;
    width: auto;
    font-size: 25px;
    padding: 10px 30px;
    margin-top: 46px;
    @media screen and (max-width: $notebook){
        margin-top: 0;
        padding: 5px 20px;
        h3{
            font-size: 15px;
        }
    }
}

.sub-title{
    margin-right: auto;
    margin-left: auto;
    color: $white;
    text-align: center;
    width: 1280px;
    line-height: 50px;
    margin-top: 62px;
    p{
        font-size: 25px;;
    }
    @media screen and (max-width: $notebook){
        width: 970px;
        p{
            font-size: 18px;
            line-height: 30px;
        }
        margin-top: 20px;
    }

    @media screen and (max-width: $netbook){
        p{
            font-size: 18px;
            line-height: 30px;
        }
        padding: 30px;
    }
}

.border-section{
    border: 1px solid;
    border-color: $light-grey;
    margin: 20px;
}

.about-title{
    font-size: 30px;
    font-weight: bold;
    @media screen and (max-width: $notebook){
        font-size: 25px;
    }
}

.about-content{
    line-height: 50px;
    @media screen and (max-width: $notebook){
        font-size: 15px;
    }
}

.about-btn{
    background-color: $blue-darken;
    width: 125px;
    font-size: 15px;
    border-radius: 0;
    color: $white;
    margin-top: 22px;
}

.about-left{
    margin: 0% auto;
    margin-top: 365px;
    margin-left: 215px;
    @media screen and (max-width: $notebook){
        width: 100%;
        margin: 20%;
    }
    @media screen and (max-width: $netbook){
        margin: 5%;
    }
}

.about-img{
    margin: 0% auto;
    margin-top: 283px;
    margin-bottom: 283.5px;
    img {
        width: 433.5px;
        height: 433.5px;
    }
    @media screen and (max-width: $notebook){
        margin-top: 130px;
        margin-bottom: 183.5px;
        img {
            width: 240px;
            height: 240px;
        }
    }
    @media screen and (max-width: $netbook){
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

.service-message{
    background-image: url("../../img/message_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .bg-blur{
        background-color: $white-a;
        padding-top: 301px;
        padding-bottom: 300px;
        h3{
            margin-top: 66.8px;
            font-size: 28px;
            font-weight: bolder;
        }
    }
    img{
        width: 185px;
        margin: 0 auto;
    }
    @media screen and (max-width: $notebook){
        img{
            width: 120px;
        }
        .bg-blur{
            background-color: $white-a;
            padding-top: 151px;
            padding-bottom: 150px;
            h3{
                margin-top: 66.8px;
                font-size: 20px;
                font-weight: bolder;
            }
        }
    }
}

.service-config{
    background-image: url("../../img/config_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .bg-blur{
        background-color: $white-a;
        padding-top: 301px;
        padding-bottom: 300px;
        h3{
            margin-top: 66.8px;
            font-size: 28px;
            font-weight: bolder;
        }
    }
    img{
        width: 185px;
        margin: 0 auto;
    }
    @media screen and (max-width: $notebook){
        img{
            width: 120px;
        }
        .bg-blur{
            background-color: $white-a;
            padding-top: 151px;
            padding-bottom: 150px;
            h3{
                margin-top: 66.8px;
                font-size: 20px;
                font-weight: bolder;
            }
        }
    }
}

.service-button{
    width: 275px;
    height: 50px;
    border: 1px solid;
    border-color: $blue-darken;
    color: $blue-darken;
    margin-top: 32px;
    font-size: 17px;
    background-color: transparent;
    @media screen and (max-width: $notebook){
        width: 200px;
        font-size: 15px;
    }
}

.new-space{
    height: 35px;
}

.spacers{
    margin-top: 39px;
    margin-bottom: 45px;
}

.nav-scroll{
    background-color: $white-a;
    border-bottom: 0.5px solid $black;
    .navigation{
        margin-top: 25px;
        margin-bottom: 25px;
        .navigation-left{
            margin-top: 45px;
        }
        .navigation-right{
            margin-top: 45px;
        }
        @media screen and (max-width: $notebook){
            .navigation-left{
                margin-top: 30px;
            }
            .navigation-right{
                margin-top: 30px;
            }
        }
    }
}

.nav-item-scroll{
    color: $black;
}

.nav-img-scroll{
    height: 100px !important;
    img{
        width: 100px;
        left: 47%;
    }
    @media screen and (max-width: $notebook){
        height: 80px !important;
        img{
            width: 80px;
        }
    }
}

.bottom-web-space{
    width: 100%;
    height: 100px;
}

.footer{
    background-color: $blue-darken;
    color: $white;
    p{
        font-size: 13px;
        line-height: 18px;
        margin: 0 130px;
    }
    width: 100%;
    padding: 5px 0;
    @media screen and (max-width: $notebook){
        p{
            font-size: 9px;
            padding: 0px 0;
            line-height: 16px;
        }
    }

    @media screen and (max-width: $netbook){
        p{
            padding: 0;
            margin: 0 25px;
        }
    }
}

.up-arrows{
    position: fixed;
    bottom: 32px;
    right: 59px;
    width: 35px;
    height: 35px;
    transition: all 0.4s;
    display: none;
}

.up-arrows-active{
    display: block;
}

.active-menu{
    font-weight: bolder;
}