@font-face {
    font-family: 'Cambria';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/cambria.ttf') format('truetype');
}
@font-face {
    font-family: 'Cambria';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/cambriab.ttf') format('truetype');
}

html, body{
	min-height: 100%;
    height: 100%;
    font-family: $cambria, 'sans-serif';
}

.navigation-fixed{
    position: fixed;
    background-color: transparent;
    z-index: 2;
    top: 0;
    overflow: hidden;
    width: 100%;
}

.navigation {
    height: auto;
    width: auto;
    font-family: $cambria, 'sans-serif';
    font-size: 14px;
    margin: 10px 40px;
    display: flex;
}

.navigation-left{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    margin-right: 60px;
}

.navigation-right{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
}

.navigation-items {
    margin-left: 20px;
    margin-right: 20px;
    color: $white;
}

.navigation > .icon {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    @media screen and (max-width: $large){
        
    }
}

.header-img{
    background-image: url("../../img/home_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}

.header-title{
    background-color: $black-opacity;
    height: auto;
    padding-top: 20%;
    padding-bottom: 20%;
}

.title{
    margin-right: auto;
    margin-left: auto;
    color: $white;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    @media screen and (max-width: $notebook){
        font-size: 40px;
    }
}

.sub-title-bg{
    margin-right: auto;
    margin-left: auto;
    color: $white;
    background-color: $blue-darken;
    text-align: center;
    width: auto;
    font-size: 25px;
    padding: 10px 30px;
}

.sub-title{
    margin-right: auto;
    margin-left: auto;
    color: $white;
    text-align: center;
    width: 1202px;
    font-size: 25px;
    padding: 10px 30px;
    line-height: 50px;
    @media screen and (max-width: $notebook){
        width: 960px;
    }
}

.border-section{
    border: 1px solid;
    border-color: $light-grey;
    margin: 20px;
}

.about-title{
    font-size: 30px;
    font-weight: bold;
    @media screen and (max-width: $notebook){
        font-size: 25px;
    }
}

.about-content{
    line-height: 50px;
    @media screen and (max-width: $notebook){
        font-size: 15px;
    }
}

.about-left{
    margin: 25% auto;
}

.about-img{
    margin: 10% auto;
    img {
        width: 240px;
        height: 240px;
    }
}

.service-message{
    background-image: url("../../img/message_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .bg-blur{
        background-color: $white-a;
        padding-top: 20%;
        padding-bottom: 20%;
    }
    img{
        width: 130px;
        margin: 30px auto;
    }
}

.service-config{
    background-image: url("../../img/config_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .bg-blur{
        background-color: $white-a;
        padding-top: 20%;
        padding-bottom: 20%;
    }
    img{
        width: 130px;
        margin: 30px auto;
    }
}

.service-button{
    width: 275px;
    border: 1px solid;
    border-color: $blue-darken;
    color: $blue-darken;
    @media screen and (max-width: $notebook){
        width: 200px;
    }
}

.spacers{
    height: 50px;
}

.nav-scroll{
    background-color: $white;
}

.nav-item-scroll{
    color: $black;
}