.about-page-title{
    color: $white;
    background-color: $blue-darken;
    margin: auto;
    margin-top: 147px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1000px;
    font-size: 35px;
    h3{
        margin: 0;
    }
}

.about-sub-title{
    font-size: 25px;
    color: $blue-darken;
    font-weight: bold;
    @media screen and (max-width: $notebook){
        font-size: 20px;
    }
}

.about-sub-content{
    font-size: 20px;
    line-height: 30px;
    @media screen and (max-width: $notebook){
        font-size: 15px;
    }
}

.page-title{
    padding-top: 14%;
}