.about-page-title{
    color: $white;
    background-color: $blue-darken;
    margin: auto;
    margin-top: 98px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1000px;
    h3{
        font-size: 35px;
        margin: 0;
    }
    @media screen and (max-width: $notebook){
        width: 700px;
        h3{
            font-size: 25px;
            margin: 0;
        }
    }
    @media screen and (max-width: $netbook){
        width: 100%;
        margin-top: 20px;
        h3{
            font-size: 23px;
            margin: 0;
        }
    }
}

.about-sub-title{
    font-size: 40px;
    color: $blue-darken;
    font-weight: bold;
    @media screen and (max-width: $notebook){
        font-size: 30px;
    }
}

.about-sub-content{
    font-size: 30px;
    line-height: 50px;
    @media screen and (max-width: $notebook){
        font-size: 20px;
        line-height: 30px;
    }
}

.page-title{
    padding-top: 14%;
}

.about-head-title{
    padding-bottom: 137px;
}

.about-pic-info{
    margin: 33px;
}

.about-pic-text{
    font-size: 40px;
    width: auto;
    background-color: $blue-darken;
    color: $white;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    padding: 10px 0;
    font-family: $cambria, 'sans-serif';
    @media screen and (max-width: $notebook){
        font-size: 30px;
    }
}

.about-pic-title-1{
    font-size: 35px;
    width: auto;
    color: $blue-darken;
    font-weight: bolder;
}

.about-pic-title-2{
    font-size: 30px;
    width: auto;
    color: $black;
    font-weight: bolder;
}

.about-pic-title-all{
    margin-left: 61px;
    margin-top: 30px;
    @media screen and (max-width: $netbook){
        margin-left: 20px;
        margin-top: 20px;
    }
}

.about-pic-title-span{
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.about-list{
    padding-left: 25px;
    @media screen and (max-width: $netbook){
        padding-left: 0px;
    }
}

.about-ul{
    list-style-image: url(../../img/small-prisma.svg);
    margin-bottom: 77px;
    li{
        text-align: justify;
        padding-left: 20px;
        margin-top: 20px;
        font-size: 25px;
        @media screen and (max-width: $notebook){
            font-size: 19px;
            padding-left: 18px;
        }
    }
}