.contact-maps{
    width: 70%;
}

.contact-header-img{
    background-image: url("../../img/contact_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}

.contact-ico{
    width: 45px;
    margin-bottom: 14.5px;
    @media screen and (max-width: $notebook){
        width: 35px;
    }
}

.contact-space{
    margin-top: 50px;
    margin-bottom: 50px;
    h3{
        color: $white;
        font-size: 25px;
        font-weight: bolder;
        @media screen and (max-width: $notebook){
            font-size: 20px;
        }
    }
    p{
        color: $white;
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        @media screen and (max-width: $notebook){
            font-size: 15px;
        }
    }
}

.contact-liner{
    border-top: 1px solid;
    border-color: $grey-darken;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $notebook){
        width: 30%;
    }
}

.contact-form{
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 536px;
    margin-right: 536px;
    .form-items{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .button-submit{
        color: $white;
        border-radius: 0;
        background-color: $blue-darken;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    @media screen and (max-width: $notebook){
        margin-left: 200px;
        margin-right: 200px;
    }
    h3{
        font-size: 25px;
        font-weight: bolder;
    }
    @media screen and (max-width: $netbook){
        margin-left: 50px;
        margin-right: 50px;
    }
}

.contact-mt{
    margin-top: 98px;
}

.contact-long-mt{
    margin-top: 137px;
}

.contact-widthmaps{
    width: 65%;
    @media screen and (max-width: $netbook){
        width: 95%;
    }
}