.amadeus{
    width: 260px;
    @media screen and (max-width: $notebook){
        width: 200px;
    }
}

.amadeus-txt{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 38px;
    @media screen and (max-width: $notebook){
        font-size: 20px;
    }
}

.partner-text{
    line-height: 30px;
    padding: 0;
    margin: 0;
    font-size: 25px;
    @media screen and (max-width: $notebook){
        font-size: 21px;
    }
}

.partner-label{
    font-size: 25px;
    color: $blue-darken;
    font-weight: bolder;
    @media screen and (max-width: $notebook){
        font-size: 21px;
    }
}

.partner-label-m{
    margin-top: 30px;
}

.advis-m{
    margin-left: 40px;
    margin-right: 40px;
}

.advis-mt{
    margin-top: 45px;
}

.advis-ul{
    counter-reset: item;
    list-style: none;
    li{
        padding-left: 0px;
        margin-top: 20px;
        font-size: 25px;
        list-style: bold;
        list-style-type: none;
        counter-increment: item;
        @media screen and (max-width: $notebook){
            font-size: 15px;
        }
        &:before{
            display: inline-block;
            width: 1em;
            padding-right: 20px;
            font-weight: bold;
            text-align: right;
            content: counter(item) ".";
        }
    }
}
.advis-img{
    width: 1546px;
    @media screen and (max-width: $notebook){
        width: 70%;
    }
}


.partner-down{
    margin-bottom: 100px;
}

.partnet-m-close{
    margin-bottom: 10px;
}

.advis-mb{
    margin-top: 102px;
}

.advis-sub-text{
    font-size: 25px;
    line-height: 50px;
    @media screen and (max-width: $notebook){
        font-size: 18px;
        line-height: 30px;
    }
}

.adv-border-right{
    border-right: 0.5px solid $black;
    height: 100px;
}

.adv-col-auto{
    width: auto;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

.adv-col-plus{
    margin-right: 110px;
}

.adv-ads-banner{
    width: auto;
    background-color: $white;
    padding-left: 138px;
    padding-right: 138px;
    margin: 40px auto;
    img{
        margin-left: 32px;
        margin-right: 32px;
        width: 120px;
        @media screen and (max-width: $notebook){
            font-size: 18px;
            line-height: 30px;
        }
    }
    @media screen and (max-width: $notebook){
        padding-left: 108px;
        padding-right: 108px;
    }
}
.adv-vita{
    width: 90px !important;
}

.adv-network-mt{
    margin-top: 16px !important;
}