.amadeus{
    width: 260px;
    @media screen and (max-width: $notebook){
        width: 200px;
    }
}

.amadeus-txt{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 38px;
    @media screen and (max-width: $notebook){
        font-size: 18px;
    }
}

.partner-text{
    line-height: 30px;
    padding: 0;
    margin: 0;
    font-size: 25px;
    @media screen and (max-width: $notebook){
        font-size: 21px;
    }
}

.partner-label{
    font-size: 25px;
    color: $blue-darken;
    font-weight: bolder;
    @media screen and (max-width: $notebook){
        font-size: 21px;
    }
}

.partner-label-m{
    margin-top: 30px;
}

.advis-m{
    margin-left: 40px;
    margin-right: 40px;
}

.advis-mt{
    margin-top: 45px;
}

.advis-ul{
    list-style: decimal;
    li{
        padding-left: 20px;
        margin-top: 20px;
        font-size: 20px;
        @media screen and (max-width: $notebook){
            font-size: 15px;
        }
    }
}
.advis-img{
    width: 1546px;
    @media screen and (max-width: $notebook){
        width: 70%;
    }
}


.partner-down{
    margin-bottom: 100px;
}

.partnet-m-close{
    margin-bottom: 10px;
}

.advis-mb{
    margin-top: 102px;
}