.navigation-items-invers {
    margin-left: 20px;
    margin-right: 20px;
    color: $black;
}
.wide-space{
    height: 434px;
    @media screen and (max-width: $notebook){
        height: 300px;
    }

    @media screen and (max-width: $netbook){
        height: 150px;
    }
}
.navigation-fixed-invers{
    position: absolute;
    background-color: transparent;
    z-index: 2;
    top: 0;
    overflow: hidden;
    width: 100%;
    transition: all 0.4s;
    @media screen and (max-width: $netbook){
        display: none;
    }
}

.services-body{
    background-color: $white-blue;
}

.services-title{
    font-size: 60px;
    font-weight: bold;
    @media screen and (max-width: $notebook){
        font-size: 45px;
    }
}

.service-active{
    font-size: 17px;
    font-weight: bolder;
    color: $black;
    border-bottom: 1px solid $black;
    padding-bottom: 5px;
}

.service-inactive{
    font-size: 17px;
    color: $black;
}

.service-ico{
    margin-left: 20px;
    margin-right: 20px;
}

.liner{
    border: 0.5px solid;
    border-color: $grey;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    margin: auto;
}

.service-sub-title{
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 48px;
    @media screen and (max-width: $notebook){
        font-size: 25px;
    }
}

.service-sub-content{
    font-size: 30px;
    line-height: 50px;
    @media screen and (max-width: $notebook){
        font-size: 20px;
        line-height: 30px;
    }
}

.service-list{
    padding-left: 25px;
}

.service-ul{
    list-style-image: url(../../img/small-prisma.svg);
    margin-bottom: 77px;
    li{
        padding-left: 20px;
        margin-top: 20px;
        font-size: 25px;
        @media screen and (max-width: $notebook){
            font-size: 19px;
            padding-left: 18px;
        }
    }
}

.m-spacer{
    margin-top: 84px;
    margin-bottom: 39px;
}

.services-m{
    margin-top: 65px;
    margin-bottom: 106.5px;
}

.service-text-left{
    text-align: left;
    @media screen and (max-width: $tablet){
        text-align: center;
        margin: 20px 0;
    }
}

.service-text-right{
    text-align: right;
    @media screen and (max-width: $tablet){
        text-align: center;
        margin: 20px 0;
    }
}

.service-text-center{
    text-align: center;
}