.testimonial-page{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-sub-title{
    margin-top: 89px;
    font-size: 25px;
    font-style: italic;
    color: $white;
    font-weight: 400;
    line-height: 50px;
    @media screen and (max-width: $notebook){
        margin-top: 39px;
        font-size: 17px;
    }
}

.testimonial-simple-text{
    margin-top: 15px;
    font-size: 25px;
    color: $white;
    @media screen and (max-width: $notebook){
        font-size: 17px;
    }
}

.testimonial-padding{
    padding-top: 15%;
    padding-bottom: 10%;
}

.testimonial-line{
    width: 200px;
    height: 1px;
    border: 0.5px solid $grey-darken;
    margin: 0 auto;
    margin-top: 39px;
    margin-bottom: 38px;
}

.testi-content-head{
    width: 90%;
    margin: 80px auto;
}

.testi-content-line{
    width: 100%;
    height: 1px;
    background-color: $grey;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.testi-content-head-box{
    background-color: $blue-darken;
    color: $white;
    padding: 10px;
    width: 393px;
    font-size: 30px;
    font-weight: bolder;
    margin: 10px auto;
    position: relative;
    margin-top: -32px;
    @media screen and (max-width: $notebook){
        font-size: 20px;
        padding: 5px;
        width: 293px;
    margin-top: -21px;
    }
}

.testi-content-head-box-invers{
    background-color: $grey-light;
    color: $blue-darken;
    padding: 10px;
    width: 393px;
    font-size: 30px;
    font-weight: bolder;
    margin: 10px auto;
    position: relative;
    margin-top: -32px;
    @media screen and (max-width: $notebook){
        font-size: 20px;
        padding: 5px;
        width: 293px;
        margin-top: -21px;
    }
}

.testi-table-content{
    margin: 0px 190px;
    @media screen and (max-width: $notebook){
        margin: 0px 100px;
    }
}

.testi-table{
    tr{
        line-height: 40px;
        td{
            font-size: 20px;
        }
    }
    @media screen and (max-width: $notebook){
        tr{
            line-height: 30px;
            td{
                font-size: 15px;
            }
        }
    }
}

.testi-table-left{
    padding-right: 39px;
}

.testi-fix-width{
    width: 260px;
    @media screen and (max-width: $notebook){
        width: 220px;
    }
}
.testi-added-space{
    height: 390px;
}